.--le-card-container
    padding 1rem
    align-items center
    justify-content space-around
    flex-wrap wrap

.--le-card-item
    width 20rem
    border-radius .1rem
    transition all .35s

.--le-card-item:hover 
    box-shadow 0 0 1rem rgba(0,0,0, .5)

.--le-card-item-image
    height 20rem
    width 100%

.--le-card-item-content
    color #000
    flex-direction column

.--le-card-item-title
    margin 0

// .--le-card-item-desc
