@import '../../styles/variables'


.--le-alert
    &-container
        padding 0 1rem
        width 100%
        flex-direction row
        justify-content space-between
        align-items center
        box-sizing border-box
    &-text
        margin 0
        padding 1rem 0
    &-success
        background-color $green
        border 1px solid darken($green, 10%)
        box-shadow 0 0 .5rem darken($green, 10%)
        color #000
    